# Tuples

---> Similar to lists,stores
---> immutable, ordered

In [56]:
# Creating a tuple

DS=("Python","Maths", "ML")
T=("Netzwek", )

print(DS)
print(type(DS))
print(type(T))

('Python', 'Maths', 'ML')
<class 'tuple'>
<class 'tuple'>

In [51]:
# they cann't be modified

DS.append("Java")
DS.remove("Python")

AttributeError: 'tuple' object has no attribute 'append'




---> <b>Not onlt it provides Read-only mode,  Faster that lists</b>


<b> Common Operators in tuples</b>

In [13]:
# Slicing

brands=("Panasonic", "Samsung", "LG", "Vu", "MI", "Onida", "Sony", "Thomson")

print(brands[1:5])
print(" ")
print(brands[-4:-1])

('Samsung', 'LG', 'Vu', 'MI')

('MI', 'Onida', 'Sony')

In [14]:
# Tuple Addition
#Nothing but tuple concationation

tup1=(1,2,3,4,5)
tup2=(6,7,8,9,10)
tup3=tup1+tup2  # only tuples are allowd, other data type isn't allowed

print(tup3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [15]:
# Tuple Multiplication

tup1=(1,"India", 2,"AP", 3, "Guntur")
tup2 = tup1*3
print(tup2)

(1, 'India', 2, 'AP', 3, 'Guntur', 1, 'India', 2, 'AP', 3, 'Guntur', 1, 'India', 2, 'AP', 3, 'Guntur')



<b> some basic functions</b>

In [17]:
#count()

tup2=(1, 'India', 2, 'AP', 3, 'Guntur', 1, 'India', 2, 'AP', 3, 'Guntur', 1, 'India', 2, 'AP', 3, 'Guntur')
print(tup2.count('Guntur'))

3

In [19]:
# len()

branches= ("ECE", "CSE", "EEE", "Mechanical", "Civil")
print(len(branches))

5

In [27]:
#any()

x=(1,4,9,16,25)
y=()


print(any(x))
print(any(y))

True
False

In [29]:
# constructor

lst=["viswabharati", "bhashyam", "KKR", "Sri Chaitanya", "Narayana"]

new_tup= tuple(lst)
print(new_tup)
print(type(new_tup))

('viswabharati', 'bhashyam', 'KKR', 'Sri Chaitanya', 'Narayana')
<class 'tuple'>

In [57]:
# min(), max()

num=(1,2,3,4,5)
print(min(num))
print(max(num))

company=("Google", "Microsoft", "Apple", "Facebook", "Zee")
print(min(company))
print(max(company))

1
5

TypeError: '<' not supported between instances of 'int' and 'str'

In [37]:
#sum

n=(1,2,3,4,5)
print(sum(n))

15

In [58]:
#sorted

a=("Sakshi", "Eenadu", "Andhra Jyothi", "Vartha")
print(sorted(a))

['Andhra Jyothi', 'Eenadu', 'Sakshi', 'Vartha']

In [48]:
# Assigning multiple values

l=(4,9,4)

(four,nine,four) = l


print(nine)
print(four)

9
4