# Lists:

--> collection of data type, [], comma seperated, different data types. 

--> Indexing starts from 0

--> Ordered, mutable and allows duplicate values,mutable, 




<b> Creating a list</b>

In [5]:

my_list= ["Vinay", 494, "Hyderabad", 28.05, True]
print(my_list)
print(len(my_list))


tup2list= list((2,4,8,16,32))
print(tup2list)

['Vinay', 494, 'Hyderabad', 28.05, True]
5
[2, 4, 8, 16, 32]




<b> Accessing elements</b>

In [38]:
Teams=["VNRSF", "NSS", "Stentorian", "Ecficio", "Sahithi Vanam"]

print(Teams[0])
print(Teams[-1])

VNRSF
Sahithi Vanam

<b> Slicing</b>

In [16]:
Mixed=[1, 56+2j, "Netzwerk", False, 421.00, "SRH" , "KPHB", "SSR"]

print(Mixed[1:6])
print(Mixed[:5])
print(Mixed[3:])

print(Mixed[-5:-1])


if "SRH" in Mixed:
    print("Yes, it's correct")

[(56+2j), 'Netzwerk', False, 421.0, 'SRH']
[1, (56+2j), 'Netzwerk', False, 421.0]
[False, 421.0, 'SRH', 'KPHB', 'SSR']
[False, 421.0, 'SRH', 'KPHB']
Yes, it's correct




<b> changing/removing a value </b>

In [23]:
Movies=["Chatrapati","Varsham","Chakram", "Arya", " Happy", "Mirchi", "Rebel"]
Movies[3]="Billa"


print(Movies)
Movies[3:5]=["Bujjigadu", "Yogi"]
print(Movies)


the_list = ["apple", "banana", "cherry", "kiwi" , "grapes"]
the_list[1:4] = ["watermelon"]

print(the_list)

the_list.insert(1, "pineapple")
print(the_list)

['Chatrapati', 'Varsham', 'Chakram', 'Billa', ' Happy', 'Mirchi', 'Rebel']
['Chatrapati', 'Varsham', 'Chakram', 'Bujjigadu', 'Yogi', 'Mirchi', 'Rebel']
['apple', 'watermelon', 'grapes']
['apple', 'pineapple', 'watermelon', 'grapes']



<b> Add list items</b>

In [28]:
ipl=["SRH", "RCB", "CSK", "MI", "KKR"]

ipl.append("DC")
print(ipl)

ipl.insert(3, "RR")
print(ipl)


captains=["MSD", "KK", "DW", "RS", "DK"]
ipl.extend(captains)

print(ipl)


tup=(1,2,3,4,5)

captains.extend(tup)
print(captains)

['SRH', 'RCB', 'CSK', 'MI', 'KKR', 'DC']
['SRH', 'RCB', 'CSK', 'RR', 'MI', 'KKR', 'DC']
['SRH', 'RCB', 'CSK', 'RR', 'MI', 'KKR', 'DC', 'MSD', 'KK', 'DW', 'RS', 'DK']
['MSD', 'KK', 'DW', 'RS', 'DK', 1, 2, 3, 4, 5]




<b> Remove list items</b>

In [36]:
Tech=["Soldier", "Farmer", "Teacher", "Accountant", "Civil Servant", "Manager", "CA" , "Software Engineer"]

Tech.remove("Manager")

print(Tech)


Tech.pop(3)
print(Tech)


Tech.pop()
print(Tech)


del Tech[3]
print(Tech)


Tech.clear()
print(Tech)

['Soldier', 'Farmer', 'Teacher', 'Accountant', 'Civil Servant', 'CA', 'Software Engineer']
['Soldier', 'Farmer', 'Teacher', 'Civil Servant', 'CA', 'Software Engineer']
['Soldier', 'Farmer', 'Teacher', 'Civil Servant', 'CA']
['Soldier', 'Farmer', 'Teacher', 'CA']
[]